.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: hsl(234, 12%, 34%);
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-box {
  width: 400px;
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: center;
}

.p1 {
  font-size: 25px;
  font-weight: 200;
}

.p2 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 12px;
}

.p3 {
  font-size: 11px;
  font-weight: 200;
  line-height: 1.8;
  margin-bottom: 15px;
}

.p4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 12px;
}

.boxes {
  display: flex;
  gap: 25px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 250px;
}

.mid-boxes {
  display: flex;
  flex-direction: column;

  gap: 25px;
}

.box-1,
.box-2,
.box-3,
.box-4 {
  width: 270px;
  height: 195px;
  box-shadow: 0px 1px 12px 1px rgba(0, 0, 0, 0.25);
}

.box-1 {
  border-top: 3px solid hsl(180, 62%, 55%);
  border-radius: 4px;
}

.box-2 {
  border-top: 3px solid hsl(0, 78%, 62%);
  border-radius: 4px;
}

.box-3 {
  border-top: 3px solid hsl(34, 97%, 64%);
  border-radius: 4px;
}

.box-4 {
  border-top: 3px solid hsl(212, 86%, 64%);
  border-radius: 4px;
}

.text-box-1 {
  padding: 20px;
  padding-top: 15px;
}

.img {
  width: 50px;
  margin-left: 200px;
}

@media (max-width: 900px) {
  .boxes {
    flex-direction: column;
  }

}
