.menu-wrap {
    position: fixed;
    top: 55px;
    left: 0;
    z-index: 1;
}

 .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
 }

 .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }

  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }

  .menu-wrap .hamburger > div::before, 
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
    transition: all 0.4s;
  }

  .menu-wrap .hamburger > div::after {
    top: 10px;
  }

  .menu-wrap .toggler:checked + .hamburger > div {

    background: transparent;

  }

  .menu-wrap .toggler:checked + .hamburger > div:before
   {
    top: 0;
    transform: rotate(-45deg);
    background: #fff;
    
  }

  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(45deg);
    background: #fff;
  }

    .menu-wrap .toggler:checked ~ .menu {
        visibility: visible;
    }
    
    .menu-wrap .toggler:checked ~ .menu > div {
        opacity: 1;

    }


  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu-wrap .menu > div {
    background: var(--overlay-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    opacity: 0;
    justify-content: center;
    transition: all 0.4s ease;
  }

  .menu-wrap .menu > div > div {
    margin-top: 20vh;
    text-align: center;
    max-width: 90vw;
    max-height: 100vw;
    /* opacity: 0; */
    transition: opacity 0.4s ease;
  }

  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #ddd;
    font-size: 1.6rem;
    padding: 0.5rem;
  }

  .menu-wrap .menu > div > div > ul > li > a {
    color: #fff;
    text-decoration: none;
    transition: 0.2s;
  }

  .menu-wrap .menu > div > div > ul > li > a:hover {
    color: rgba(60, 156, 99, 0.74);
  }


  
    